#lineNumberContainer {
    -fx-padding: 2.5 0 0 0;
}

#lineNumberContainer .label {
    -fx-font-size: 12;
    -fx-font-family: Consolas;
}

#content {
    -fx-font-size: 12;
    -fx-font-family: Consolas;
}
